<!DOCTYPE html>
<html lang="en">
    <%- include('partials/header.ejs') %>
    <body style="padding-top: 72px;">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PTQDB4Q"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script src="js/helpers.js"></script>
    <!-- End Google Tag Manager (noscript) -->
    <%- include ('partials/nav.ejs') %>
    <%- body -%>
        
    <%- include ('partials/footer.ejs') %>   
    <%- include ('partials/popover.ejs') %>
    </body>
</html>
