<% layout('layout') %>

 <script>var mongoplace = <%- JSON.stringify(mongoplace) %></script>
 <script>var reviews = <%- JSON.stringify(reviews) %></script>
 <script>var place = <%- JSON.stringify(place) %></script>
 <script>var categories = <%- JSON.stringify(categories) %></script>


    <!-- Hero Section-->
    <section class="pt-5 pt-sm-7 pb-5 d-flex align-items-end dark-overlay bg-cover" style="background-image: url('../img/place_photos/full/<%= place[0].photo %>');">
      <div class="container overlay-content">
        <div class="d-flex justify-content-between align-items-start flex-column flex-lg-row align-items-lg-end">
          <div class="text-white mb-4 mb-lg-0 col">
            <div class="badge badge-pill badge-transparent px-3 py-2 mb-4"><%=place[0].subcategory%></div>
            <h1 class="text-shadow verified"><%= mongoplace.name %></h1>
            <p><i class="fa-map-marker-alt fas mr-2"></i> <%= mongoplace.formatted_address %></p>
            <p class="d-flex align-items-center">

                <% for (j = 0; j < 5; j++) {
                    if (Math.round(mongoplace.rating) > j) {  %>
                        <% if (j == 4 ) { %>
                            <i class="fa fa-xs fa-star text-primary mr-2"></i>
                        <% } else { %>
                            <i class="fa fa-xs fa-star text-primary"></i>
                        <% } %>
                    <% } else { %>
                        <% if (j == 4 ) { %>
                            <i class="fa fa-xs fa-star text-gray-200 mr-2"></i>
                        <% } else { %>
                            <i class="fa fa-xs fa-star text-gray-200"></i>
                        <% } %>
                    <% } %>
                <% } %>
                <span class="text-white text-s mr-4"><%= mongoplace.rating %></span>
              </p>
                <% if(relevanceAvailable) { %>
              <p>
                <span class="badge badge-secondary"><%=relevance%>%</span>  Match for you
              </p>
                <% } %>
              
              <p class="mb-0" >
                <div class="form-group tag-pill-button">
                <% 
                    // number of tags shown                    
                    var tagLim = 3;
                    
                    // convert to array for sorting            
                    var tagArr = Object.entries(place[0].tags);
                    // sort
                    tagArr.sort(function(a, b) {
                        return b[1] - a[1];
                    });
                    // take first N items according to tagLim
                    var slicedTagArr = tagArr.slice(0, tagLim);
                    
                    // display top tags
                     for (t = 0; t < slicedTagArr.length; t++) {
                     var tagId = slicedTagArr[t][0]
                     var tagcount = slicedTagArr[t][1]
                     var tagReadable = categories.tagObj[tagId].name
                     var tagImage = categories.tagObj[tagId].image
                     if (tagcount > 0) {
                     %>
                        <div class="badge badge-pill tag-pill tag-pill-button sm-tag-pill-large md-tag-pill-large">
                            <img class="pr-2 sm-tag-pill-large-img md-tag-pill-large-img" src="img/icons/<%= tagImage %>" alt="<%=tagReadable%> Icon">
                            <%=tagReadable%> (<%=tagcount%>)
                        </div>
                     <%
                    }
                  }
                    %>
                </div>
              </p>
            <p>
            <!-- ABOUT -->    
              <p><%= place[0].description %></p>
            
            </p>
          </div>
          <div class="calltoactions w-200"><a class="btn btn-primary" href="#leaveReview" onclick="$('#leaveReview').collapse('show')" data-smooth-scroll>Leave a Review</a></div>
        </div>
      </div>
    </section>
    <section class="py-5">
      <div class="container">
        <div class="row">
            <div class="col-lg-8">
            
        <!--REVIEWS-->    
          
            <div class="text-block">
              <h3 class="mb-4">Reviews </h3>

            <!-- Recko Reviews--->
            <%
              function comparerec( a, b ) {
                  if ( a.date > b.date ){
                    return -1;
                  }
                  if ( a.date < b.date ){
                    return 1;
                  }
                  return 0;
                };
            reviews.sort(comparerec);
            %>
            <% for (i = 0; i < reviews.length; i++) { %>
             <div class="media d-block d-sm-flex review">
                <div class="text-md-center mr-4 mr-xl-5"><img class="mobile-hidden d-block avatar avatar-xl p-2 mb-2" src="img/letters/<%= reviews[i].username.charAt(0).toLowerCase() %>.png" alt="Reviewer Photo"><span class="text-uppercase text-muted text-sm">

                    <% let datediff = Math.floor((Date.now() - reviews[i].date) / (1000*60*60*24))
                        let monthsago = Math.floor((Date.now() - reviews[i].date) / (1000*60*60*24*30)) %>

                        <% if(datediff == 0) { %>
                             Today
                        <% } else if (datediff < 7) { %>
                             This Week
                        <% } else if (datediff < 30) { %>
                             This Month
                        <% } else { %>
                             <%=monthsago%> Months Ago
                         <% } %>

                </span></div>
                <div class="media-body">
                  <div class="mb-2">
                    <% for (j = 0; j < 5; j++) { %>
                             <%  if (reviews[i].rating > j) {  %>
                                <i class="fa fa-xs fa-star text-primary"></i>
                            <% } else { %>
                                <i class="fa fa-xs fa-star text-gray-300"></i>
                            <% } %>
                        <% } %>
                  </div>
                  <p><%= reviews[i].review %></p>
                  <p>
                    <% for (tagId in categories.tagObj) {%>
                        <% var tagReadable = categories.tagObj[tagId].name %>
                      
                        <% if(reviews[i]['tags'] !== undefined) {%>
                            <% if(reviews[i]['tags'][tagId] == 'on') {  %>
                                <div class="mr-1 badge badge-pill tag-pill px-3 py-2 mb-2 tag-pill-button"><%=tagReadable%></div>
                            <% } %>
                        <% } %>
                    <% } %>
                    </p>
                    <h6 class="text-muted mt-2 mb-1"><%= reviews[i].username %></h6>

                </div>


              </div>
            <% } %>

            <!-- Google Reviews--->
            <%
              function compare( a, b ) {
                  if ( a.time > b.time ){
                    return -1;
                  }
                  if ( a.time < b.time ){
                    return 1;
                  }
                  return 0;
                };
              
            mongoplace.reviews.sort(compare);
            %>
            <% for (i = 0; i < mongoplace.reviews.length; i++) { %>
              <div class="media d-block d-sm-flex review">
                <div class="text-md-center mr-4 mr-xl-5"><img class="d-block mobile-hidden avatar avatar-xl p-2 mb-2" src="img/letters/<%= mongoplace.reviews[i].author_name.charAt(0).toLowerCase() %>.png" alt="Reviewer Photo"><span class="text-uppercase text-muted text-sm"><%= mongoplace.reviews[i].relative_time_description %></span></div>
                <div class="media-body">
                  <div class="mb-2">
                    <%      
                        for (j = 0; j < 5; j++) {
                            if (Math.round(mongoplace.reviews[i].rating) > j) {  %>
                                <i class="fa fa-xs fa-star text-primary"></i>
                            <% } else { %>
                                <i class="fa fa-xs fa-star text-gray-300"></i>
                            <% } %>     
                        <% } %>
                  </div>
                  <p><%= mongoplace.reviews[i].text %></p>
                    <h6 class="text-muted mt-2 mb-1"><%= mongoplace.reviews[i].author_name %></h6>
                </div>
              </div>
            <% } %>    
                
                
    <!-- leave a review -->
                
              <div class="py-5">
                <button class="btn btn-outline-primary" type="button" data-toggle="collapse" data-target="#leaveReview" aria-expanded="false" aria-controls="leaveReview">Leave a review</button>
                <div class="collapse mt-4" id="leaveReview">
                  
<% if (loggedIn) { %>                  
                <h5 class="mb-4">Leave a review</h5>
                  <form class="form" id="contact-form" method="post" onsubmit="return reviewValidate();" action="/listingreview?placeid=<%= placeid %>">
                    <div class="row">
                      <div class="col-sm-5">
                        <div class="form-group">
                          <label class="form-label" for="rating">Your rating *</label>
                          <select class="custom-select focus-shadow-0" name="review_rating" id="rating">
                            <option hidden disabled selected value> -- select an option -- </option>
                            <option value="5">&#9733;&#9733;&#9733;&#9733;&#9733; (5/5)</option>
                            <option value="4">&#9733;&#9733;&#9733;&#9733;&#9734; (4/5)</option>
                            <option value="3">&#9733;&#9733;&#9733;&#9734;&#9734; (3/5)</option>
                            <option value="2">&#9733;&#9733;&#9734;&#9734;&#9734; (2/5)</option>
                            <option value="1">&#9733;&#9734;&#9734;&#9734;&#9734; (1/5)</option>
                          </select>
                        </div>
                        <p id="review_rating_alert" class="alert alert-danger" style="display: none;">Please rate this place</p>

                      </div>
                    </div>
                    <div class="form-group">
                      <label class="form-label" for="review">Review text</label>
                      <textarea class="form-control" rows="4" name="review_review" id="review" placeholder="Enter your review"></textarea>
                    </div>
                      <div class="form-group"><label class="form-label" for="review">Select at least one tag for this place *</label>   </div>



                      <div class="form-group tag-pill-button">

                    <% for (tagId in categories.tagObj) { %>
                    <% var tagReadable = categories.tagObj[tagId].name %>
                        <label for="<%=tagId%>">
                            <input type="checkbox" class="tagcheckbox" id="<%=tagId%>" name="<%=tagId%>" ><div class="mr-1 badge badge-pill tag-pill px-3 py-2 mb-2 tag-pill-button"><%=tagReadable%></div>
                        </label>
                    <% } %>
                      </div>
                      
                    <p id="review_tag_alert" class="alert alert-danger" style="display: none; ">Please select at least one tag</p>

                    <br>
                    <button class="btn btn-primary" type="submit">Post review</button>
                  </form>
                
                  
<% } else { %>

            <p>Please <a href="/register">Register</a> or <a href="/login">Login</a> to leave a review</p>
            
<% } %>               
                  </div>
              </div>
            </div>


            <div class="text-block">
              <!-- Listing Location-->
              <h3 class="mb-4">Location</h3>
              <div class="map-wrapper-300 mb-3">
                <div class="h-100" id="detailMap"></div>
              </div>
            </div>

            <% if(false) { %>
            <div class="text-block">
              <!-- Gallery-->
              <h3 class="mb-4">Gallery</h3>
              <div class="row gallery ml-n1 mr-n1">

                 <% for (i = 0; i < Math.min(mongoplace.photos.length, 6); i++) { %>
                <div class="col-lg-4 col-6 px-1 mb-2"><img class="img-fluid" src="https://maps.googleapis.com/maps/api/place/photo?maxheight=227&photoreference=<%=mongoplace.photos[i].photo_reference%>&key=<%=clientPlacesApiKey%>" alt="...">
                </div>
                <% } %>
              </div>
            </div>
              <% } %>

              <% if(false) { %>
            <!-- Amenities-->
            <div class="text-block">
              <h3 class="mb-4">Amenities</h3>
              <ul class="amenities-list list-inline">
                <li class="list-inline-item mb-3">
                  <div class="d-flex align-items-center">
                    <div class="icon-circle bg-secondary mr-2"><i class="fa fa-check"></i></div><span>Elevator</span>
                  </div>
                </li>
                <li class="list-inline-item mb-3">
                  <div class="d-flex align-items-center">
                    <div class="icon-circle bg-secondary mr-2"><i class="fa fa-check"></i></div><span>Vegan friendly</span>
                  </div>
                </li>
                <li class="list-inline-item mb-3">
                  <div class="d-flex align-items-center">
                    <div class="icon-circle bg-secondary mr-2"><i class="fa fa-check"></i></div><span>Alcohol served</span>
                  </div>
                </li>
                <li class="list-inline-item mb-3">
                  <div class="d-flex align-items-center">
                    <div class="icon-circle bg-secondary mr-2"><i class="fa fa-check"></i></div><span>No smoking</span>
                  </div>
                </li>
                <li class="list-inline-item mb-3">
                  <div class="d-flex align-items-center">
                    <div class="icon-circle bg-secondary mr-2"><i class="fa fa-check"></i></div><span>Parking spaces (paid)</span>
                  </div>
                </li>
                <li class="list-inline-item mb-3">
                  <div class="d-flex align-items-center">
                    <div class="icon-circle bg-secondary mr-2"><i class="fa fa-check"></i></div><span>WiFi</span>
                  </div>
                </li>
              </ul>
            </div>
               <% } %>

          </div>
          <div class="col-lg-4">
            <div class="pl-xl-4">

            <% if (mongoplace.opening_hours) { %>
              <!-- Opening Hours      -->
              <div class="card border-0 shadow mb-5">
                <div class="card-header bg-gray-100 py-4 border-0">
                  <div class="media align-items-center">
                    <div class="media-body">
                      <h4 class="mb-0">Opening Hours </h4>
                    </div>
                    <svg class="svg-icon svg-icon svg-icon-light w-3rem h-3rem ml-3 text-muted">
                      <use xlink:href="#wall-clock-1"> </use>
                    </svg>
                  </div>
                </div>
                <div class="card-body">
                  <table class="table text-sm mb-0">
                    <% for (k = 0; k < 7; k++) { %>                
                    <tr>
                      <th class="px-0 py-2 border-0"><%= mongoplace.opening_hours.weekday_text[k].split(": ")[0] %></th>
                      <td class="px-0 py-2 text-right border-0"><%= mongoplace.opening_hours.weekday_text[k].split(": ")[1] %></td>
                    </tr>
                      <% } %>
                  </table>
                </div>
              </div>
             <% } %>

              <!-- Contact-->
              <div class="card border-0 shadow mb-5">
                <div class="card-header bg-gray-100 py-4 border-0">
                  <div class="media align-items-center">
                    <div class="media-body">
                      <h4 class="mb-0">Contact</h4>
                    </div>
                    <svg class="svg-icon svg-icon svg-icon-light w-3rem h-3rem ml-3 text-muted">
                      <use xlink:href="#fountain-pen-1"> </use>
                    </svg>
                  </div>
                </div>
                <div class="card-body">
                  <ul class="list-unstyled mb-4">
                    <li class="mb-2"> <a class="text-gray-00 text-sm text-decoration-none" href="#"><i class="fa fa-phone mr-3"></i><span class="text-muted"><%= mongoplace.formatted_phone_number %></span></a></li>
                    <!-- <li class="mb-2"> <a class=" text-sm text-decoration-none" href="#"><i class="fa fa-envelope mr-3"></i><span class="text-muted">info@example.com</span></a></li> -->
                    <li class="mb-2"> <a class=" text-sm text-decoration-none" href="#"><i class="fa fa-globe mr-3"></i><span class="text-muted"><%= mongoplace.website %></span></a></li>
                    <!-- <li class="mb-2"> <a class="text-blue text-sm text-decoration-none" href="#"><i class="fab fa-facebook mr-3"></i><span class="text-muted">Facebook</span></a></li> -->
                    <!-- <li class="mb-2"> <a class=" text-sm text-decoration-none" href="#"><i class="fab fa-twitter mr-3"></i><span class="text-muted">Twitter</span></a></li> -->
                    <!-- <li class="mb-2"> <a class=" text-sm text-decoration-none" href="#"><i class="fab fa-instagram mr-3"></i><span class="text-muted">Instagram</span></a></li> -->
                    <!-- <li class="mb-2"> <a class=" text-sm text-decoration-none" href="#"><i class="fab fa-google-plus mr-3"></i><span class="text-muted">Google+</span></a></li> -->
                  </ul>
                  <!-- <div class="text-center"><a class="btn btn-outline-primary btn-block" href="#"> <i class="far fa-paper-plane mr-2"></i>Send a Message</a></div> -->
                </div>
              </div>
                <% if (false) { %>
              <div class="text-center">
                <p><a class="text-secondary" href="#"> <i class="fa fa-heart"></i> Bookmark This Listing</a></p><span>79 people bookmarked this place </span>
              </div>
                <% } %>
            </div>
          </div>
        </div>
      </div>
    </section>

<% if (false) { %>

    <div class="py-6 bg-gray-100"> 
      <div class="container">
        <h5 class="mb-0">Similar places</h5>
        <p class="subtitle text-sm text-primary mb-4">You may also like         </p>
        <!-- Slider main container-->
        <div class="swiper-container swiper-container-mx-negative items-slider">
          <!-- Additional required wrapper-->
          <div class="swiper-wrapper pb-5">
            <!-- Slides-->
            <div class="swiper-slide h-auto px-2">
              <!-- venue item-->
              <div class="w-100 h-100" data-marker-id="59c0c8e33b1527bfe2abaf92">
                <div class="card h-100 border-0 shadow">
                  <div class="card-img-top overflow-hidden dark-overlay bg-cover" style="background-image: url(img/photo/restaurant-1430931071372-38127bd472b8.jpg); min-height: 200px;"><a class="tile-link" href="detail.html"></a>
                    <div class="card-img-overlay-bottom z-index-20">
                      <h4 class="text-white text-shadow">Blue Hill</h4>
                      <p class="mb-2 text-xs"><i class="fa fa-star text-warning"></i><i class="fa fa-star text-warning"></i><i class="fa fa-star text-warning"></i><i class="fa fa-star text-warning"></i><i class="fa fa-star text-gray-300">                    </i>
                      </p>
                    </div>
                    <div class="card-img-overlay-top d-flex justify-content-between align-items-center">
                      <div class="badge badge-transparent badge-pill px-3 py-2">Restaurants</div><a class="card-fav-icon position-relative z-index-40" href="javascript: void();"> 
                        <svg class="svg-icon text-white">
                          <use xlink:href="#heart-1"> </use>
                        </svg></a>
                    </div>
                  </div>
                  <div class="card-body">
                    <p class="text-sm text-muted mb-3"> Cupidatat excepteur non dolore laborum et quis nostrud veniam dolore deserunt. Pariatur dolore ut in elit id nulla. Irur...</p>
                    <p class="text-sm text-muted text-uppercase mb-1">By <a href="#" class="text-dark">Matt Damon</a></p>
                    <p class="text-sm mb-0"><a class="mr-1" href="#">Restaurant,</a><a class="mr-1" href="#">Contemporary</a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide h-auto px-2">
              <!-- venue item-->
              <div class="w-100 h-100" data-marker-id="59c0c8e322f3375db4d89128">
                <div class="card h-100 border-0 shadow">
                  <div class="card-img-top overflow-hidden dark-overlay bg-cover" style="background-image: url(img/photo/restaurant-1436018626274-89acd1d6ec9d.jpg); min-height: 200px;"><a class="tile-link" href="detail.html"></a>
                    <div class="card-img-overlay-bottom z-index-20">
                      <h4 class="text-white text-shadow">Plutorque</h4>
                      <p class="mb-2 text-xs"><i class="fa fa-star text-warning"></i><i class="fa fa-star text-warning"></i><i class="fa fa-star text-warning"></i><i class="fa fa-star text-warning"></i><i class="fa fa-star text-warning"></i>
                      </p>
                    </div>
                    <div class="card-img-overlay-top d-flex justify-content-between align-items-center">
                      <div class="badge badge-transparent badge-pill px-3 py-2">Restaurant</div><a class="card-fav-icon position-relative z-index-40" href="javascript: void();"> 
                        <svg class="svg-icon text-white">
                          <use xlink:href="#heart-1"> </use>
                        </svg></a>
                    </div>
                  </div>
                  <div class="card-body">
                    <p class="text-sm text-muted mb-3"> Proident irure eiusmod velit veniam consectetur id minim irure et nostrud mollit magna velit. Commodo amet proident aliq...</p>
                    <p class="text-sm text-muted text-uppercase mb-1">By <a href="#" class="text-dark">Matt Damon</a></p>
                    <p class="text-sm mb-0"><a class="mr-1" href="#">Restaurant,</a><a class="mr-1" href="#">Fusion</a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide h-auto px-2">
              <!-- venue item-->
              <div class="w-100 h-100" data-marker-id="59c0c8e3a31e62979bf147c9">
                <div class="card h-100 border-0 shadow">
                  <div class="card-img-top overflow-hidden dark-overlay bg-cover" style="background-image: url(img/photo/restaurant-1466978913421-dad2ebd01d17.jpg); min-height: 200px;"><a class="tile-link" href="detail.html"></a>
                    <div class="card-img-overlay-bottom z-index-20">
                      <h4 class="text-white text-shadow">Junipoor</h4>
                      <p class="mb-2 text-xs"><i class="fa fa-star text-warning"></i><i class="fa fa-star text-warning"></i><i class="fa fa-star text-warning"></i><i class="fa fa-star text-warning"></i><i class="fa fa-star text-warning"></i>
                      </p>
                    </div>
                    <div class="card-img-overlay-top d-flex justify-content-between align-items-center">
                      <div class="badge badge-transparent badge-pill px-3 py-2">Music club</div><a class="card-fav-icon position-relative z-index-40" href="javascript: void();"> 
                        <svg class="svg-icon text-white">
                          <use xlink:href="#heart-1"> </use>
                        </svg></a>
                    </div>
                  </div>
                  <div class="card-body">
                    <p class="text-sm text-muted mb-3"> Lorem amet ex duis in et fugiat consectetur laborum eiusmod labore. Quis cupidatat et do dolor in in magna. Eu sit quis ...</p>
                    <p class="text-sm text-muted text-uppercase mb-1">By <a href="#" class="text-dark">Matt Damon</a></p>
                    <p class="text-sm mb-0"><a class="mr-1" href="#">Music,</a><a class="mr-1" href="#">Techno,</a><a class="mr-1" href="#">House</a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide h-auto px-2">
              <!-- venue item-->
              <div class="w-100 h-100" data-marker-id="59c0c8e3503eb77d487e8082">
                <div class="card h-100 border-0 shadow">
                  <div class="card-img-top overflow-hidden dark-overlay bg-cover" style="background-image: url(img/photo/restaurant-1477763858572-cda7deaa9bc5.jpg); min-height: 200px;"><a class="tile-link" href="detail.html"></a>
                    <div class="card-img-overlay-bottom z-index-20">
                      <h4 class="text-white text-shadow">Musix</h4>
                      <p class="mb-2 text-xs"><i class="fa fa-star text-warning"></i><i class="fa fa-star text-warning"></i><i class="fa fa-star text-warning"></i><i class="fa fa-star text-gray-300">                    </i><i class="fa fa-star text-gray-300">                    </i>
                      </p>
                    </div>
                    <div class="card-img-overlay-top d-flex justify-content-between align-items-center">
                      <div class="badge badge-transparent badge-pill px-3 py-2">Music club</div><a class="card-fav-icon position-relative z-index-40" href="javascript: void();"> 
                        <svg class="svg-icon text-white">
                          <use xlink:href="#heart-1"> </use>
                        </svg></a>
                    </div>
                  </div>
                  <div class="card-body">
                    <p class="text-sm text-muted mb-3"> Deserunt eiusmod Lorem proident consequat elit culpa laboris ea cupidatat. Consequat dolore proident ipsum qui sint enim...</p>
                    <p class="text-sm text-muted text-uppercase mb-1">By <a href="#" class="text-dark">Matt Damon</a></p>
                    <p class="text-sm mb-0"><a class="mr-1" href="#">Music,</a><a class="mr-1" href="#">Club,</a><a class="mr-1" href="#">Rock</a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide h-auto px-2">
              <!-- venue item-->
              <div class="w-100 h-100" data-marker-id="59c0c8e39aa2eed0626e485d">
                <div class="card h-100 border-0 shadow">
                  <div class="card-img-top overflow-hidden dark-overlay bg-cover" style="background-image: url(img/photo/restaurant-1504087697492-238a6bf49ce8.jpg); min-height: 200px;"><a class="tile-link" href="detail.html"></a>
                    <div class="card-img-overlay-bottom z-index-20">
                      <h4 class="text-white text-shadow">Prosure</h4>
                      <p class="mb-2 text-xs"><i class="fa fa-star text-warning"></i><i class="fa fa-star text-warning"></i><i class="fa fa-star text-warning"></i><i class="fa fa-star text-warning"></i><i class="fa fa-star text-warning"></i>
                      </p>
                    </div>
                    <div class="card-img-overlay-top d-flex justify-content-between align-items-center">
                      <div class="badge badge-transparent badge-pill px-3 py-2">Restaurant</div><a class="card-fav-icon position-relative z-index-40" href="javascript: void();"> 
                        <svg class="svg-icon text-white">
                          <use xlink:href="#heart-1"> </use>
                        </svg></a>
                    </div>
                  </div>
                  <div class="card-body">
                    <p class="text-sm text-muted mb-3"> Cillum sunt reprehenderit ea non irure veniam dolore commodo labore fugiat est consequat velit. Cupidatat nisi qui ad si...</p>
                    <p class="text-sm text-muted text-uppercase mb-1">By <a href="#" class="text-dark">Matt Damon</a></p>
                    <p class="text-sm mb-0"><a class="mr-1" href="#">Nisi,</a><a class="mr-1" href="#">Ex,</a><a class="mr-1" href="#">Eiusmod</a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide h-auto px-2">
              <!-- venue item-->
              <div class="w-100 h-100" data-marker-id="59c0c8e39aa2edasd626e485d">
                <div class="card h-100 border-0 shadow">
                  <div class="card-img-top overflow-hidden dark-overlay bg-cover" style="background-image: url(img/photo/restaurant-1505275350441-83dcda8eeef5.jpg); min-height: 200px;"><a class="tile-link" href="detail.html"></a>
                    <div class="card-img-overlay-bottom z-index-20">
                      <h4 class="text-white text-shadow">Take That</h4>
                      <p class="mb-2 text-xs"><i class="fa fa-star text-warning"></i><i class="fa fa-star text-warning"></i><i class="fa fa-star text-warning"></i><i class="fa fa-star text-warning"></i><i class="fa fa-star text-gray-300">                    </i>
                      </p>
                    </div>
                    <div class="card-img-overlay-top d-flex justify-content-between align-items-center">
                      <div class="badge badge-transparent badge-pill px-3 py-2">Café</div><a class="card-fav-icon position-relative z-index-40" href="javascript: void();"> 
                        <svg class="svg-icon text-white">
                          <use xlink:href="#heart-1"> </use>
                        </svg></a>
                    </div>
                  </div>
                  <div class="card-body">
                    <p class="text-sm text-muted mb-3"> Cillum sunt reprehenderit ea non irure veniam dolore commodo labore fugiat est consequat velit. Cupidatat nisi qui ad si...</p>
                    <p class="text-sm text-muted text-uppercase mb-1">By <a href="#" class="text-dark">Matt Damon</a></p>
                    <p class="text-sm mb-0"><a class="mr-1" href="#">Nisi,</a><a class="mr-1" href="#">Ex,</a><a class="mr-1" href="#">Eiusmod</a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- If we need pagination-->
          <div class="swiper-pagination"></div>
        </div>
      </div>
    </div>

<% } %>

    <script src="js/map-detail.js"></script>
    <script>
      createDetailMap({
          mapId: 'detailMap',
          mapCenter: [<%= mongoplace.geometry.location.lat %>, <%= mongoplace.geometry.location.lng %>],
          markerShow: true,
          markerPosition: [<%= mongoplace.geometry.location.lat %>, <%= mongoplace.geometry.location.lng %>],
          markerPath: 'img/marker.svg',
          tileLayer: tileLayers[7]
      })
    </script>

    <script type="text/javascript">
        function reviewValidate()
        {
            let rating = document.getElementById("rating").value;
            let tagcheck = 0;
            
            if(rating != "") { 
                $("#review_rating_alert").hide();
            } else {
                $("#review_rating_alert").css('display', 'inline-block');   
            }
            
            for (cat in categories.tagObj){
                if ($('#'+cat).prop('checked') == true ){
                    tagcheck = 1;
                }
            }
            
            if(tagcheck == 1) { 
                $("#review_tag_alert").hide();
            } else {
                $("#review_tag_alert").css('display', 'inline-block');   
            }
            
            if( rating != "" && tagcheck == 1) { 
                return true;
            } else {
                return false;  
            }

        }
    </script>
